@import "utilities.css";
body{
    background-image: url(/images/bg.png);
    /* background-origin: border-box; */
    position: absolute;
    height: 100%;
    width: 1500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: left; */
    /* background-position-x: 402px;
    background-position-y: 1000px; */
}
.rules h2{
   margin-left: 22rem;
}
.rules{
    color:#ffffff;
    margin-left: 20rem;
    margin-top: 35rem;
    font-size: 1.5rem;
}
#full-body::before{
    content: "";
    background: url(/images/background.png) no-repeat center center/cover;
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
#navbar{
    display: flex;
    align-items: center;
    position:absolute;
}

#navbar::before{
    content: "";
    /* background-color: black; */
    border-bottom: 6px solid black;
    border-radius: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0%;
    width: 150%;
    z-index: -1;
    /* opacity: 0; */
}
.title{
    width: 6%;
    padding-left: 47%;
}
header{
    width: 100%;
    /* border: solid rgba(0, 0, 0, 0.38) 8px; */
}
.logo img{
    height: 80px;
    margin-right: 3rem;
}
.head{
    position: absolute;
    font-family: 'Josefin Sans';
    font-weight: normal;
    letter-spacing: -0.017em;
    width: 525px;
    left: 490px;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-size: 50px;
    height: 170px;
    background: rgba(0, 0, 0, 0.39);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.full{
    width: 1520px;
}
.container{
    width: 1520px;
}
.navs a{
    font-family: 'Raleway',sans-serif;
    color: white;
    text-decoration: none;
    margin-right: 2.5rem;
    font-size: 1.5rem;
}
.navs a:hover{
    color: #ff7a59;
    border: #ff7a59 solid 1px;
    background:#fff;
}
header nav .space{
    justify-content: space-between;
}
.diamond{
    display: flex;
    
}
.diamond div{
    position: relative;
    color: white;
    height: 100px;
    width: 100px;
    bottom: -170px;
    left: 470px;
    line-height: 15px;
    text-align: center;
    margin: 10px 20px;
}
.diamond div:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform: rotateX(45deg) rotateZ(45deg);
    border: solid white 2px;
    border-radius: 10px;
}
.diamond div:after {
    position: absolute;
    top: 10px;
    left: 10px;
    content: '';
    height: calc(100% - 22px);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
    width: calc(100% - 22px);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
    transform: rotateX(45deg) rotateZ(45deg);
}
.big-text{
    font-size: larger;
}
.date{
    align-content: center;
    width: 425px;
    height: 56px;
    bottom: 190px;
    left: 545px;
    top:68%;
    background: rgba(0, 0, 0, 0.39);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: absolute;
    color: white;
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    text-align: center;
}
.button {
    position: absolute;
    cursor: pointer;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Josefin Sans;
    color: #ffffff;
    font-size: 20px;
    left: 605px;
    top:77%;
    height: 10px;
    bottom: 140px;
    background: #000000;
    padding: 10px 20px 27px 20px;
    border: solid #000000 1px;
    text-decoration: none;
  }
  .button p{
      margin-top: -0rem;
  }
  .button1 {
    position: absolute;
    cursor: pointer;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Josefin Sans;
    color: #ffffff;
    font-size: 20px;
    left: 41rem;
    top:77%;
    height: 10px;
    bottom: 140px;
    background: #000000;
    padding: 10px 20px 27px 20px;
    border: solid #000000 1px;
    text-decoration: none;
  }
  .button1 p{
      margin-top: -0rem;
  }
footer{
    position: absolute;
    margin-top: 20rem;
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.39);
}
footer h2{
    position:absolute;
    left:44%;
    font-size: 2rem;
    color: white;
    margin-top: 2rem;
}
.socials ul{
    position: absolute;
    left:35%;
    text-align: center;
    margin-top:5rem;
}
.socials li{
    display: inline; 
    margin: 1rem;
}
@media only screen and (max-width: 1400px){
    .logo img{
        height: 15rem;
        margin-right: 3rem;
    }
    .navs{
        white-space: nowrap;
    }
    .navs a{
        font-family: 'Raleway',sans-serif;
        color: white;
        text-decoration: none;
        font-size: 3rem;
    }
    .navs a:hover{
        color: #ff7a59;
        border: #ff7a59 solid 1px;
        background:#fff;
    }
    footer{
        width: 90%;
        margin-top:110vh;
        display: flex;
    }
    .button{
        height: fit-content;
        left: 55%;
        margin-top: 77rem;
        width: 16rem;
        height: 10rem;
    }
    .button p{
        font-size:3.2rem;
        margin-top: 2rem;
    }
    .rectangle{
        position: absolute;
        width: 75%;
        height: 121%;
        left: 10%;
        top: 95%;
    }
    .rectangle1{
        position: absolute;
        width: 75%;
        height: 141%;
        left: 33%;
        top: 105%;
    }
    .small_logo img{
        margin-top: 9rem;
        height: 25rem;
        width: 25rem;
    }
    .date{
        font-size: 5rem;
        margin-top: 55rem;
        width: 100%;
        height: 25%;
        margin-left: -20rem;
    }
    .date p{
        margin-top: 1rem;
    }
    .diamond{
        margin-left: -15rem;
    }
    .diamond div{
        position: relative;
        height: 250px;
        width: 250px;
        margin-top: 3rem;
        margin-left: 5rem;
    }
    .diamond span{
        font-size: 3rem;
    }
    .big-text{
        font-size: 3rem;
    }
    .head{
        margin-left: rem;
    }
    .head p{
        margin-left: 3rem;
    }
    footer h2{
        position:absolute;
        left:47%;
        font-size: 5rem;
        color: white;
        margin-top: -1rem;
    }
    .socials ul{
        position: absolute;
        left:49%;
        text-align: center;
        margin-top:7rem;
        margin-bottom: 2rem;
    }
    .socials li{
        display: inline; 
        margin: 1rem;
    }
}
@media only screen and (max-width: 1100px){
    .logo img{
        height: 15rem;
        margin-right: 3rem;
    }
    .navs{
        white-space: nowrap;
    }
    .navs a{
        font-family: 'Raleway',sans-serif;
        color: white;
        text-decoration: none;
        font-size: 3rem;
    }
    .navs a:hover{
        color: #ff7a59;
        border: #ff7a59 solid 1px;
        background:#fff;
    }
    footer{
        width: 90%;
        margin-top:110vh;
        display: flex;
    }
    .button{
        font-size: 6rem;
        height: fit-content;
        margin-top: 70rem;
    }
    .rectangle{
        position: absolute;
        width: 75%;
        height: 101%;
        left: 10%;
        top: 85%;
    }
    .rectangle1{
        position: absolute;
        width: 75%;
        height: 100%;
        left: 43%;
        top: 95%;
    }
    .small_logo img{
        margin-top: 9rem;
        height: 25rem;
        width: 25rem;
    }
    .date{
        font-size: 5rem;
        margin-top: 55rem;
        width: 100%;
        height: 20%;
        margin-left: -20rem;
    }
    .diamond{
        margin-left: -15rem;
    }
    .diamond div{
        position: relative;
        height: 250px;
        width: 250px;
        margin-top: 14rem;
        margin-left: 5rem;
    }
    .diamond span{
        font-size: 3rem;
    }
    .big-text{
        font-size: 3rem;
    }
    .head{
        justify-content: center;
    }
    .head p{
        justify-content: center;
    }
    footer h2{
        position:absolute;
        left:47%;
        font-size: 5rem;
        color: white;
        margin-top: -1rem;
    }
    .socials ul{
        position: absolute;
        left:49%;
        text-align: center;
        margin-top:7rem;
        margin-bottom: 2rem;
    }
    .socials li{
        display: inline; 
        margin: 1rem;
    }
}
@media only screen and (max-width: 480px){
    body{
        background-image: url(/images/bg.png);
        /* background-origin: border-box; */
        position: absolute;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* background-position: left; */
        /* background-position-x: 402px;
        background-position-y: 1000px; */
    }
    #full-body::before{
        content: "";
        background: url(/images/background.png) no-repeat center center/cover;
        position: fixed;
        top: 0px;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }
    .logo img{
        height:10rem;
        width: 10rem;
        margin-right: 0!important;
    }
    .head{
        margin-top: 3rem;
        width: 60%;
        height: 35%;
        left:0;
        justify-content: center!important;
    }
    .diamond{
        display: flex;
        margin-left: -11rem;
    }
    .diamond div{
        position: relative;
        color: white;
        height: 100px;
        width: 30px;
        bottom: -170px;
        line-height: 15px;
        text-align: center;
        margin-right: -3rem;
    }
    .diamond div:before {
        position: absolute;
        content: '';
        top: 0px;
        left: 0px;
        transform: rotateX(0deg) rotateZ(0deg);
        border: solid white 2px;
        border-radius: 10px;
    }
    .head p span{
        left: 0;
        justify-content: center!important;
        font-size: 35px!important;
    }
    .big-text{
        font-size: 20px;
    }
    .diamond{
       justify-content: center;
       display: flex;
    }
    .diamond span{
        font-size: 12px;
    }
    .diamond div{
        height: 6rem;
        width: 3.5rem;
        left: 0;
    }
    .date{
        margin-top: 30rem;
        width: 100%;
        height: 10%;
        margin-left: -35rem;
    }
    .date p{
        font-size: 25px!important;
    }
    .button{
        height: fit-content;
        left: 35%;
        margin-top: 77rem;
        width: 16rem;
        height: 10rem;
    }
    .button p{
        font-size:3.2rem;
    }
    footer{
        width: 90%;
        margin-top:215vh;
        display: flex;
    }
    .small_logo img{
        margin-left: -6rem;
        margin-top: 9rem;
        width: 10rem;
        height: 10rem;
    }
    footer h2{
        position:absolute;
        left:37%;
        font-size: 5rem;
        color: white;
        margin-top: -7rem;
    }
    .socials ul{
        position: absolute;
        left:38%;
        text-align: center;
        margin-top:2rem;
        margin-bottom: 2rem;
    }
    .socials li{
        display: inline; 
        margin: 1rem;
    }
    .rules{
        font-size: 1.5rem;
        width:100%;
        margin-left: -1.2rem;
    }
    .rules h2{
        margin-left: 9rem; 
    }
}
@media only screen and (max-width: 380px){
    .head{
        margin-top: 3rem;
        width: 60%;
        height: 65%;
        left:0;
        justify-content: center!important;
    }
    .head p span{
        left: 0;
        justify-content: center!important;
        font-size: 35px!important;
    }
    footer{
        width: 90%;
        height:40%;
        margin-top:215vh;
    }
    footer h2{
        position:absolute;
        left:37%;
        font-size: 5rem;
        color: white;
        margin-top: 4rem;
    }
    .socials ul{
        position: absolute;
        left:38%;
        text-align: center;
        margin-top:11rem;
        margin-bottom: 2rem;
    }
    .socials li{
        display: inline; 
        margin: 1rem;
    }
}
@media only screen and (max-width: 320px){

    .logo{
        height: 80%!important;
        width: 80%!important;
        margin-right: 0!important;
    }
    .title{
        width: 25%;
    }
    .head{
        width: 80%;
        height: 50%;
   margin-left: -29rem;
    }
    .head p span{
        font-size: 80px!important;
    }
    span{
        font-size: 35px;
    }
    .diamond div{
        height: 210px;
        width: 210px;
        left: 4%;
        margin: 350px 42px;
        line-height: 0px;
    }
    .button{
        font-size: 80px;
        height: fit-content;
        left: 35%;
        top: 265%;
        margin-top: 10rem;
    }
    .date{
        height: 25%;
    }
    footer{
        margin-top: 38%;
    }
}
a {
    color: #000;
  }
  
  /* header */
  
  .header {
    font-size: 1.5rem;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 65%;
    z-index: 3;
  }
  
  .header ul {
    margin-top: 5rem;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 12px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #F5EEDC;
    color:black
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2rem;
    padding: 15px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  .header li a{
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    margin-left: 11rem;
    margin-top: 1rem;
    padding: 15px 20px;
    position: relative;
    user-select: none;
  }
  .header .menu-icon .navicon {
    background:#fff;
    display: block;
    height: 2px;
    margin-top: 5rem;
    margin-left: 8rem;
    position: relative;
    transition: background .2s ease-out;
    width: 1rem;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background:#fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  @media (min-width: 48em) {
    .header {
      font-size: 1.5rem;
      box-shadow: 1px 1px 4px 0 rgba(241, 240, 240, 0);
      position: fixed;
      width: 98.5%;
      z-index: 3;
    }
    .header li {
      float: left;
    }
    .header li a {
      display: inline;
      padding: 20px 11px;
      background-color: black;
      color: white;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
      margin-top: -1rem;
    }
    .header .menu-icon {
      display: none;
    }
  }
