@import url(https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap);

body{
    background-color: black;
    width: 1200px;
}
.nav-items{
    position: absolute;
    width: 91px;
    height: 35px;
    left: 916px;
    top: 46px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
    
    color: #FFFFFF;
}
.nav-items1{
    position: absolute;
    width: 133px;
    height: 37px;
    left: 1062px;
    top: 46px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
    color: #FFFFFF;
}
.nav-items2{
    position: absolute;
width: 60px;
height: 37px;
left: 1283px;
top: 46px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 35px;
display: flex;
align-items: center;
letter-spacing: -0.017em;

color: #FFFFFF;
}

.rectangle{
    position: absolute;
width: 730px;
height: 820px;
left: 700px;
top: -20.37px;

background: linear-gradient(180deg, rgba(75, 14, 14, 0) 0%, #881212 71.87%);
border-radius: 40px;
transform: rotate(-19.76deg);
}
.rectangle1{
    position: absolute;
width: 650px;
height: 953px;
left: 1000px;
top: 196.63px;

background: linear-gradient(180deg, rgba(75, 14, 14, 0) 0%, #881212 71.87%);
border-radius: 40px;
transform: rotate(-19.76deg);
}
#heading{
    position: absolute;
    width: 308px;
    height: 80px;
    left: 45px;
    top: 43px;
    background: url(Rectangle\ 23.png);
    border-radius :50px;
}
.about{
    position: absolute;
width: 218px;
height: 60px;
left: 700px;
top: 150px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 51px;
line-height: 60px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.017em;
color: #FFFFFF;
}
#navbar{
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 8px;
    top: 132px;
    border: 5px solid #000000
}

.left{
    position: absolute;
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 15rem;
    margin-left: 25rem;
    height: 315px;
    width: 944px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    align-items: center;
    text-align: left;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
    color: #FFFFFF;
    display: flex;
}

.center{
    position: absolute;
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 38rem;
    margin-left: 25rem;
    height: 192px;
    width: 1338px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
    color: #FFFFFF;
    display: flex;
}

.right{
    position: absolute;
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 53.5rem;
    margin-left: 50rem;
    height: 462px;
    width: 931px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    align-items: center;
    text-align: right;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
    color: #FFFFFF;
    display: flex;
}

.centerbox{
    position: absolute;
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 80rem;
    margin-left: 50rem;
    height: 54px;
    width: 428px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
    color: #FFFFFF;
    display: flex;
}

.rightbox{
    position: absolute;
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 85rem;
    margin-left: 65rem;
    height: 435px;
    width: 633px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    align-items: center;
    text-align: right;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
    color: #FFFFFF;
    display: flex;
}

.leftbox{
    position: absolute;
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 85rem;
    margin-left: 30rem;
    height: 435px;
    width: 633px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    align-items: center;
    text-align: left;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
    color: #FFFFFF;
    display: flex;
}

.footer{
    position: absolute;
width: 1578px;
height: 125px;
left: 11px;
top: 2552px;

background: rgba(0, 0, 0, 0.39);
border-radius: 10px;
}

#fifth{
    position: absolute;
width: 182px;
height: 22px;
left: 626px;
top: 2500px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 51px;
line-height: 41px;
display: flex;
align-items: center;
justify-content: center;
white-space: nowrap;
letter-spacing: -0.017em;
color: #FFFFFF;
}

.img{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 2.47%;
}
.footer img{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 2.47%;

background: #FFFFFF;
}
.Gitlogo{
    position: absolute;
width: 34.99px;
height: 45.24px;
left: 856.01px;
top: 2642px;

}
.img1{
    position: absolute;
    left: 3.9%;
    right: 1.49%;
    top: 11.45%;
    bottom: 11.64%; 
}
.img1 img{
    position: absolute;
width: 34.99px;
height: 34.24px;
left: 732.01px;
top: 2530px;
}
.LinkedIn{
    position: absolute;
left: 3.9%;
right: 1.49%;
top: 11.45%;
bottom: 11.64%;
}

.LinkedIn img{
    position: absolute;
    width: 34.99px;
    height: 34.24px;
    left: 672.01px;
    top: 2530px;  
}
.Insta{
    position: absolute;
left: 3.9%;
right: 1.49%;
top: 11.45%;
bottom: 11.64%;

}
.Insta img{
    position: absolute;
    width: 34.99px;
    height: 34.24px;
    left: 602.01px;
    top: 2530px;   
}
.Discord{
    position: absolute;
    width: 32.99px;
    height: 32.67px;
    left: 593px;
    top: 2642px;
}
.Discord img{
    position: absolute;
left: 0%;
right: 0%;
top: 0.5%;
bottom: -0.09%;
}

.sideNav {
	position: fixed;
	top: 5%;
	bottom: auto;
	z-index: 10;
	left: 1%;
	padding-top: 250px;

}

.sideNav ul {
	list-style: none;
	padding: 0;
	padding-left: 3px;
	background-color: transparent;
	border-radius: 10px;

}

.sideNav li {
	padding: 25px 10px 25px 15px;

}

.sideNav span {
	display: inline-block;
	position: relative;
}

.sideNav a {
	display: inline-block;
	color: #eae7af;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
}

.circle {
	height: 10px;
	width: 10px;
	left: -10px;
	border-radius: 50%;
	background-color: #eae7af;
}

.rect {
	height: 3px;
	width: 0px;
	left: 0;
	bottom: 4px;
	background-color: rgb(0, 162, 255);
	-webkit-transition: -webkit-transform 0.6s, width 1s;
	-moz-transition: -webkit-transform 0.6s, width 1s;
	transition: transform 0.6s, width 1s;
}

.sideNav a:hover,
.sideNav .active-section {
	color: rgb(0, 162, 255);
	text-decoration: none;
}

.sideNav a:hover span,
.sideNav .active-section span {
	background-color: rgb(0, 162, 255);
}

.sideNav .active-section .rect {
	width: 20px;
}
